html {
    color: #11181c;
    font-size: 120%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    background-color: #fbfcfd;
}

body {
    padding-top: 50px;
    padding-bottom: 200px;
}

.claim {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;

    font-size: 1.2em;
    text-align: center;
}

.claim h1 {
    font-size: 1em;
}

.claim .big {
    margin-top: 5rem;
    margin-bottom: 5rem;

    color: #cd2b31;
    font-size: 2em;
    font-weight: bold;
}

.chat {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.message {
    max-width: 70%;
    padding: 1rem;

    background-color: #eceef0;
    border-radius: 1.5rem;
    box-shadow: 1px 1px 2px #d7dbdf;
}

.message--answer {
    margin-left: auto;

    color: #006adc;

    background-color: #edf6ff;
    box-shadow: 1px 1px 2px #b7d9f8;
}
